In [1]:
import pandas as pd

In [2]:
nba_2016_2017_100 = pd.read_csv('data/nba_2016_2017_100.csv')
nba_2017_att_val = pd.read_csv('data/nba_2017_att_val.csv')
nba_2017_att_val_elo = pd.read_csv('data/nba_2017_att_val_elo.csv')
nba_2017_att_val_elo_with_cluster = pd.read_csv('data/nba_2017_att_val_elo_with_cluster.csv')
nba_2017_attendance = pd.read_csv('data/nba_2017_attendance.csv')
nba_2017_br = pd.read_csv('data/nba_2017_br.csv')
nba_2017_salary = pd.read_csv('data/nba_2017_salary.csv')
nba_2017_real_plus_minus = pd.read_csv('data/nba_2017_real_plus_minus.csv')
nba_2017_players_with_salary_wiki_twitter = pd.read_csv('data/nba_2017_players_with_salary_wiki_twitter.csv')
nba_2017_players_stats_combined = pd.read_csv('data/nba_2017_players_stats_combined.csv')
nba_2017_nba_players_with_salary = pd.read_csv('data/nba_2017_nba_players_with_salary.csv')

In [7]:
nba_2017_nba_players_with_salary.head()

,Unnamed: 0,Rk,PLAYER,POSITION,AGE,MP,FG,FGA,FG%,3P,...,GP,MPG,ORPM,DRPM,RPM,WINS_RPM,PIE,PACE,W,SALARY_MILLIONS
0,0,1,Russell Westbrook,PG,28,34.6,10.2,24.0,0.425,2.5,...,81,34.6,6.74,-0.47,6.27,17.34,23.0,102.31,46,26.50
1,1,2,James Harden,PG,27,36.4,8.3,18.9,0.440,3.2,...,81,36.4,6.38,-1.57,4.81,15.54,19.0,102.98,54,26.50
2,2,3,Isaiah Thomas,PG,27,33.8,9.0,19.4,0.463,3.2,...,76,33.8,5.72,-3.89,1.83,8.19,16.1,99.84,51,6.59
3,3,4,Anthony Davis,C,23,36.1,10.3,20.3,0.505,0.5,...,75,36.1,0.45,3.90,4.35,12.81,19.2,100.19,31,22.12
4,4,6,DeMarcus Cousins,C,26,34.2,9.0,19.9,0.452,1.8,...,72,34.2,3.56,0.64,4.20,11.26,17.8,97.11,30,16.96

In [15]:
nba_2017_nba_players_with_salary.groupby(['AGE', 'POSITION'])[['AGE', 'POSITION']].count()

              AGE  POSITION
AGE POSITION
19  C           3         3
    PF          2         2
    SF          1         1
    SG          1         1
20  C           3         3
    PF          2         2
    PG          4         4
    SF          3         3
    SG          3         3
21  C           4         4
    PF          8         8
    PG          1         1
    SF          5         5
    SG          4         4
22  C           5         5
    PF          5         5
    PG          9         9
    SF          8         8
    SG          4         4
23  C           5         5
    PF          1         1
    PG          2         2
    SF          3         3
    SG         10        10
24  C           6         6
    PF          5         5
    PG          6         6
    SF          2         2
    SG          8         8
25  C           4         4
...           ...       ...
30  SF          4         4
    SG          3         3
31  C           2         2
    PF          6         6
    PG          2         2
    SF          2         2
    SG          6         6
32  C           5         5
    PG          2         2
    SF          3         3
33  C           1         1
    PF          1         1
    PG          4         4
    SF          1         1
    SG          1         1
34  C           1         1
    PF          1         1
    PG          3         3
    SG          1         1
35  PF          1         1
    SF          1         1
    SG          3         3
36  C           2         2
    PF          2         2
    SF          2         2
    SG          1         1
38  PF          1         1
39  SF          1         1
    SG          1         1
40  SF          1         1

[88 rows x 2 columns]