In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('mlbootcamp5_train.csv', sep = ';', index_col = 'id')

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [9]:
print (df[df['gender'] == 1]['height'].mean())
#1 - девушки
print (df[df['gender'] == 2]['height'].mean())
#2 - мужчины

161.35561168460356
169.94789538210054

In [110]:
countWoman = len(df[df['gender'] == 1])
countMan = len(df[df['gender'] == 2])
# 45530 - девушки
# 24470 - мужчины

In [111]:
countWomanAlco = len(df[(df['alco'] ==1) & (df['gender'] == 1)])
countManAlco = len(df[(df['alco'] ==1) & (df['gender'] == 2)])

In [112]:
averageWomanAlco = countWomanAlco/countWoman
print (averageWomanAlco)
averageManAlco = countManAlco/countMan
print (averageManAlco)
#Меньше женщины

0.02549967054689216
0.10637515324887617

In [113]:
countWomanSmoke = len(df[(df['smoke'] ==1) & (df['gender'] == 1)])
countManSmoke = len(df[(df['smoke'] ==1) & (df['gender'] == 2)])

averageWomanSmoke = countWomanSmoke/countWoman
averageManSmoke = countManSmoke/countMan

print (averageWomanSmoke)
print (averageManSmoke)
print (averageManSmoke/averageWomanSmoke)
# в 8

0.017856358444981332
0.21888026154474868
12.257833097333833

In [114]:
(df[df['smoke'] == 0]['age'].median() - df[df['smoke'] == 1]['age'].median())/30
#на 20 месяцев

19.9

In [128]:
df['age_years'] = (df['age'] / 365).round()

In [133]:
df5 = df[(df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['smoke'] == 1) & (df['gender'] == 2) ]
print (len(df5))
#print (len(df[(df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['smoke'] == 1) & (df['gender'] == 2) 
#              & (df['ap_hi'] >= 160) & (df['ap_hi'] < 180) & (df['cholesterol'] == 3) & (df['cardio'] == 1)] ))

994

In [143]:
print (len(df5[(df5['ap_hi'] < 120) & (df5['cholesterol'] == 1) & (df5['cardio'] == 1)]))
print (len(df5[(df5['ap_hi'] < 120) & (df5['cholesterol'] == 1)]))

print (len(df5[(df['ap_hi'] >= 160) & (df['ap_hi'] < 180) & (df['cholesterol'] == 3)]))
print (len(df5[(df['ap_hi'] >= 160) & (df['ap_hi'] < 180) & (df['cholesterol'] == 3) & (df['cardio'] == 1)]))

20
78
22
19

D:\Program_Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
D:\Program_Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [144]:
(19/22)/(20/78)

3.3681818181818186

In [117]:
df['BMI'] = df['weight'] / ((df['height']/100)**2)

In [118]:
df['BMI'].median()

26.374068120774975

In [119]:
print (df[df['gender'] == 1]['BMI'].mean())
print (df[df['gender'] == 2]['BMI'].mean())

27.98758344183312
26.754442357289474

In [120]:
print (df[df['cardio'] == 1]['BMI'].mean())
print (df[df['cardio'] == 0]['BMI'].mean())

28.566060627015435
26.54817520679475

In [121]:
print (df[(df['gender'] == 2) & (df['alco'] == 0) & (df['cardio'] == 0)]['BMI'].mean())
print (df[(df['gender'] == 1) & (df['alco'] == 0) & (df['cardio'] == 0)]['BMI'].mean())

25.872638075460173
26.845406594131518

In [122]:
#Медианный BMI по выборке превышает норму - ДА
#У женщин в среднем BMI ниже, чем у мужчин - НЕТ
#У здоровых в среднем BMI выше, чем у больных - НЕТ
#В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин - Нет

In [123]:
print (df['height'].quantile(0.025))
print (df['height'].quantile(0.975))

print (df['weight'].quantile(0.025))
print (df['weight'].quantile(0.975))

150.0
180.0
51.0
108.0

In [145]:
dfClear = df[(df['ap_lo']<=df['ap_hi']) & (df['height'] >= df['height'].quantile(0.025)) 
             & (df['height'] <= df['height'].quantile(0.975)) 
             & (df['weight'] >= df['weight'].quantile(0.025)) 
             & (df['weight'] <= df['weight'].quantile(0.975))]
#10

In [146]:
len(dfClear)/len(df)

0.9037

In [101]:
len(df)

70000